/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(weather.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(191, 196, 203, 0.5);
  padding: 25px;
  border-radius: 10%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
